.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App input {
  outline: none;
  display: inline-block;
  margin: 18px 0;
  padding: 12px 18px;
  border: solid 2px #eee;
  border-radius: 8px 0 0 8px;
}

.App input[type="submit"] {
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.App input:focus {
  border-color: hsl(200, 90%, 70%);
}

.App img {
  display: block;
  margin: 0 auto;
}

button {
  font-size: calc(10px + 2vmin);
}
